{% extends "includes/base.html" %}

{% block navbar_title %}
    Orders / Product / Add
{% endblock %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="card border-0 shadow-sm rounded-3">
                    <div class="card-body p-4">
                        {% url 'order:product-new' pk as secondary_btn_url %}
                        {% include "includes/form.html" with form=form submit_label="Submit" show_secondary_btn=True secondary_btn_label="Add" secondary_btn_url=secondary_btn_url %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}